<link rel="shortcut icon" type="image/ico" href="/favicon.ico?v={{.Site.Params.legacyWellKnownVersions}}">
<link rel="icon" type="image/svg+xml" href="/favicon.svg?v={{.Site.Params.legacyWellKnownVersion}}" color="#000000">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v={{.Site.Params.legacyWellKnownVersion}}">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v={{.Site.Params.legacyWellKnownVersion}}">
