{{/**
  Head Metadata

  Metadata used by browsers, search engines, and social media websites.

  Safari does not support SVG icons of any sort https://caniuse.com/link-icon-svg

  TODO: Add HTML5 Microdata https://html.spec.whatwg.org/multipage/microdata.html
  TODO: Use https://realfavicongenerator.net/api/ to auto-generate somehow
  TODO: automatic version control of static assets
*/}}
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 {{- if or .Site.Params.isAdultContent .Page.Params.isAdultContent }}
   <meta name="RATING" content="RTA-5042-1996-1400-1577-RTA" />
 {{- end }}
 <title>{{.Params.Title}}</title>
 <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
<link rel="manifest" href="/site.webmanifest?v={{.Site.Params.legacyWellKnownVersion}}">
<meta name="application-name" content="{{.Title}}">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#000000" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000000" />
{{- partial "head/favicon.html" . }}
{{- partial "head/meta-edge.html" . }}
{{- partial "head/meta-safari.html" . }}
{{- partial "head/schema.html" . -}}
{{- partial "head/open_graph.html" . }}
