{{/**

  TODO: Support <picture> elements
**/}}
<figure>
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />
  {{- with .Title }}
    <figcaption>{{ . }}</figcaption>
  {{- end }}
</figure>
