<!doctype html>
<html lang="{{ site.LanguageCode }}" class="no-js">
  <head>
    {{- partial "head/metadata.html" . }}
    {{- partial "head/analytics.html" . }}
    {{- partial "head/stylesheets.html" . }}
  </head>
  <body>
    {{- partial "body/header.html" . }}
    <main>{{- block "main" . }}{{- end }}</main>
    {{- partial "body/footer.html" . }}
    {{- partial "body/javascript.html" . }}
  </body>
</html>
