{{ define "main" }}
<article>
  <header>
  <h1>{{ .Title }}</h1>
  <time datetime="{{ .Date.Format "2006-01-02"}}">{{ .Date.Format "January 2, 2006" }}</time>
</header>
  <section>
    {{ .Content }}
  </section>
  <footer>
    <div>
        {{ with .PrevInSection }}
          <a rel="prev" href="{{.Permalink}}">⬅ {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
          <a rel="next" href="{{.Permalink}}">{{.Title}} ➡</a>
        {{ end }}
    </div>
  </footer>
</article>
{{ end }}
