{{ define "main" }}
<div>
 <h1>{{ .Title }}</h1>
 <!-- ranges through each of the content files associated with a particular taxonomy term and renders the summary.html content view -->
  {{ range .Pages }}
      {{ .Render "summary"}}
  {{ end }}
</div>
{{ end }}
