<nav>
<ul>
{{ with .Site.Menus.main}}
  {{ range sort . }}
    <li>
      <a href="{{ index (apply (slice .URL) (.Params.urlFunc | default "relLangURL") ".") 0 }}">{{ .Name }}</a>
    </li>
  {{ end }}
{{ end }}
</ul>
</nav>
