<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h2 itemprop="headline"><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
  <div class="post-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2009-10-09" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time> - {{ .ReadingTime }} Minutes </div>
  {{ .Summary }}
  <a itemprop="url" href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
</article>
