{{/**
  Javascript version of http://alistapart.com/article/amoreuseful404/
*/}}
{{ define "main"}}
  <h2>404 - Not Found</h2>

  <script type="text/javascript">
    if (document.referrer === "") {
      console.log("Broken link from non-web source");
    } else {
      switch((new URL(document.referrer)).host) {
        case "google.com":
        case "bing.com":
        case "duckduckgo.com":
        case "yahoo.com":
        case "ecpsoa.org":
          console.log("broken link from search engine");
          break;
        case {{replaceRE "^https?://([^/]+).*" "$1" .Site.BaseURL}}:
          console.log("broken internal link");
          break;
        default:
      }
    }
  </script>
{{ end }}
